In [1]:
import pandas as pd

Only Men's Calculation

In [2]:
#Only Men Count
cols = ["state-code", "area-name", "Total", "Age-group", "Tot_p", "Illiterate", "Literate but below primary", "Primary but below middle", "Middle but below matric/secondary", "Matric", "HigherSecondary", "NonTechDiploma", "TechDiploma", "Graduate and above"]
df1 = pd.read_excel("../Data/DDW-0000C-08.xlsx", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5, 7, 10, 19, 22, 25, 28, 31, 34, 37, 40])
df1 = df1[(df1["Total"] == "Total") & (df1["Age-group"] == "All ages")]

In [3]:
# Adding "Matric/Secondary but below graduate" column to C-08 data
temp = []
for idx, row in df1.iterrows():
    temp.append(row["Matric"] + row["HigherSecondary"] + row["NonTechDiploma"] + row["TechDiploma"])
df1["Matric/Secondary but below graduate"] = temp

In [4]:
cols = ["state-code", "area-name", "Total", "EduLevel", "ThreeLang_m", "ThreeLang_f"]
df2 = pd.read_excel("../Data/DDW-C19-0000.xlsx", skiprows = [0,1,2,3,5], usecols = [0, 2, 3, 4, 9, 10], names = cols)
df2 = df2[df2['Total'] == "Total"]
df2 = df2[(df2["EduLevel"] != "Total") & (df2["EduLevel"] != "Literate")]
df2["state-code"] = df2[["state-code"]].apply(pd.to_numeric)

In [5]:
output = {"state/ut": [], "literacy-group-males": [], "ratio-males": [], "literacy-group-females": [], "ratio-females": []}
for idx, row in df1.iterrows():
    temp = df2[df2["state-code"] == row["state-code"]]
    output["state/ut"].append(temp["state-code"].unique()[0])
    litgrp_m = ""
    maxpercent_m = 0
    for idx2, row2 in temp.iterrows():
        threeLang = row2["ThreeLang_m"]
        tot_p = row[row2["EduLevel"]]
        percent = threeLang/tot_p
        if percent > maxpercent_m:
            maxpercent_m = percent
            litgrp_m = row2["EduLevel"]
    output["literacy-group-males"].append(litgrp_m)
    output["ratio-males"].append(maxpercent_m)

Only Female's Calculation

In [6]:
#Only Female Count
cols = ["state-code", "area-name", "Total", "Age-group", "Tot_p", "Illiterate", "Literate but below primary", "Primary but below middle", "Middle but below matric/secondary", "Matric", "HigherSecondary", "NonTechDiploma", "TechDiploma", "Graduate and above"]
df1 = pd.read_excel("../Data/DDW-0000C-08.xlsx", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5, 8, 11, 20, 23, 26, 29, 32, 35, 38, 41])
df1 = df1[(df1["Total"] == "Total") & (df1["Age-group"] == "All ages")]

In [7]:
# Adding "Matric/Secondary but below graduate" column to C-08 data
temp = []
for idx, row in df1.iterrows():
    temp.append(row["Matric"] + row["HigherSecondary"] + row["NonTechDiploma"] + row["TechDiploma"])
df1["Matric/Secondary but below graduate"] = temp

In [8]:
for idx, row in df1.iterrows():
    temp = df2[df2["state-code"] == row["state-code"]]
    litgrp_f = ""
    maxpercent_f = 0
    for idx2, row2 in temp.iterrows():
        threeLang = row2["ThreeLang_f"]
        tot_p = row[row2["EduLevel"]]
        percent = threeLang/tot_p
        if percent > maxpercent_f:
            maxpercent_f = percent
            litgrp_f = row2["EduLevel"]
    output["literacy-group-females"].append(litgrp_f)
    output["ratio-females"].append(maxpercent_f)

In [9]:
df = pd.DataFrame(output).sort_values(by=['state/ut'])
df.to_csv("../Final Outputs/literacy-gender-a.csv", index = False)

In [11]:
df

,state/ut,literacy-group-males,ratio-males,literacy-group-females,ratio-females
0,0,Graduate and above,0.316151,Graduate and above,0.337433
1,1,Graduate and above,0.669791,Graduate and above,0.680314
2,2,Graduate and above,0.152538,Graduate and above,0.152457
3,3,Graduate and above,0.767517,Graduate and above,0.765537
4,4,Graduate and above,0.685636,Graduate and above,0.705212
5,5,Graduate and above,0.071985,Graduate and above,0.073002
6,6,Graduate and above,0.169245,Graduate and above,0.196280
7,7,Graduate and above,0.232764,Graduate and above,0.247149
8,8,Graduate and above,0.076426,Graduate and above,0.086324
9,9,Graduate and above,0.064937,Graduate and above,0.069244
10,10,Graduate and above,0.085916,Graduate and above,0.084491
11,11,Graduate and above,0.760498,Graduate and above,0.791838
12,12,Graduate and above,0.714686,Graduate and above,0.716931
13,13,Graduate and above,0.707863,Graduate and above,0.695980
14,14,Graduate and above,0.663693,Graduate and above,0.621187
15,15,Graduate and above,0.276086,Graduate and above,0.209615
16,16,Graduate and above,0.351565,Graduate and above,0.313940
17,17,Graduate and above,0.507180,Graduate and above,0.429673
18,18,Graduate and above,0.638794,Graduate and above,0.600356
19,19,Graduate and above,0.244607,Graduate and above,0.244835
20,20,Graduate and above,0.193147,Graduate and above,0.217443
21,21,Graduate and above,0.673253,Graduate and above,0.655997
22,22,Graduate and above,0.098255,Graduate and above,0.129118
23,23,Graduate and above,0.108597,Graduate and above,0.117693
24,24,Graduate and above,0.700751,Graduate and above,0.670003
25,25,Graduate and above,0.532344,Graduate and above,0.579392
26,26,Graduate and above,0.502658,Graduate and above,0.548726
27,27,Graduate and above,0.642005,Graduate and above,0.656895
28,28,Graduate and above,0.375135,Graduate and above,0.362510
29,29,Graduate and above,0.481490,Graduate and above,0.501979
30,30,Graduate and above,0.805702,Graduate and above,0.804937
31,31,Graduate and above,0.709191,Graduate and above,0.610190
32,32,Graduate and above,0.429095,Graduate and above,0.353019
33,33,Graduate and above,0.153287,Graduate and above,0.145446
34,34,Graduate and above,0.217898,Graduate and above,0.204870
35,35,Graduate and above,0.573851,Graduate and above,0.523678