In [1]:
import pandas as pd

In [2]:
cols = ["state-code", "area-name", "age-groups", "persons"]
df1 = pd.read_excel("../Data/DDW-0000C-14.xls", skiprows = [0,1,2,3,5,6], names = cols, usecols = [1, 3, 4, 5])
df1.replace(["All ages"], ["Total"], inplace = True)

In [3]:
#Adding age group "30-49"
temp = df1[(df1["age-groups"] == "30-34") | (df1["age-groups"] == "35-39") | (df1["age-groups"] == "40-44") | (df1["age-groups"] == "45-49")]
temp = temp.groupby(["state-code", "area-name"], as_index=False).agg('sum')
agegrp = ["30-49" for i in range(len(temp))]
temp["age-groups"] = agegrp
df1 = df1.append(temp, ignore_index = True)

In [4]:
#Adding age group "50-69"
temp = df1[(df1["age-groups"] == "50-54") | (df1["age-groups"] == "55-59") | (df1["age-groups"] == "60-64") | (df1["age-groups"] == "65-69")]
temp = temp.groupby(["state-code", "area-name"], as_index=False).agg('sum')
agegrp = ["50-69" for i in range(len(temp))]
temp["age-groups"] = agegrp
df1 = df1.append(temp, ignore_index = True)

In [5]:
#Adding age group "70+"
temp = df1[(df1["age-groups"] == "70-74") | (df1["age-groups"] == "75-79") | (df1["age-groups"] == "80+")]
temp = temp.groupby(["state-code", "area-name"], as_index=False).agg('sum')
agegrp = ["70+" for i in range(len(temp))]
temp["age-groups"] = agegrp
df1 = df1.append(temp, ignore_index = True)

In [6]:
df2 = pd.read_excel("../Data/DDW-C18-0000.xlsx", skiprows = [0,1,2,3,5])
df2 = df2[df2['4'] == "Total"]

In [7]:
output = {"state/ut": [], "age-group": [], "percentage": []}
scodes = df2["1"].unique().tolist()
for code in scodes:
    temp = df2[df2["1"] == code]
    output["state/ut"].append(temp["1"].unique()[0])
    agegrp = ""
    maxpercent = 0
    for idx, row in temp.iterrows():
        tot_p = df1["persons"][(df1["state-code"] == code) & (df1["age-groups"] == row['5'])].tolist()[0]
        percent = row["9"]/tot_p
        if percent > maxpercent:
            maxpercent = percent
            agegrp = row["5"]
    output["age-group"].append(agegrp)
    output["percentage"].append(maxpercent*100)

In [8]:
df = pd.DataFrame(output).sort_values(by=['state/ut'])
df.to_csv("../Final Outputs/age-india.csv", index = False)

In [9]:
df

    state/ut age-group  percentage
0          0     20-24   11.518442
1          1     20-24   29.580167
2          2     20-24    8.206521
3          3     15-19   45.763949
4          4     50-69   42.774903
5          5     20-24    3.094835
6          6     15-19    7.318620
7          7       70+   14.999231
8          8     15-19    2.884065
9          9     20-24    2.443396
10        10     15-19    2.918430
11        11     15-19   45.798288
12        12     15-19   47.589249
13        13     20-24   40.339983
14        14     25-29   31.663321
15        15     30-49    7.420447
16        16     20-24    8.211385
17        17     30-49   14.862512
18        18     20-24   21.065613
19        19     50-69    4.457691
20        20     20-24    7.375031
21        21     15-19   22.309814
22        22     25-29    2.296116
23        23     15-19    2.963277
24        24     15-19   23.986559
25        25     30-49   18.178144
26        26     15-19   33.829749
27        27     20-24   27.068174
28        28     15-19   12.981033
29        29     20-24   17.577031
30        30     15-19   68.088694
31        31     20-24   25.990736
32        32     20-24   16.945888
33        33     20-24    4.589020
34        34     20-24    7.852489
35        35     15-19   28.747048